<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <!-- injecting a header from different file re using component
    here '-'mean we are loading a html -->
    <%- include('common/header'); %>
    <h1>this is a login page</h1>
</body>
</html>